.sub-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo-img{
    height: 30px;

}
.head-cont{
    font-size: 13px;
    font-weight: bold;
    margin-top: 7px;
    margin-left: 4px;
    
}
.fire-icon{
    height: 24px;
    width:24px;
    color: red;
    margin-right: 0px;
}

.cont-logo{
box-shadow: 0px 0px 3px;
}
 
 
 .wall-icon{
    height: 20px;
     margin-top: 5px;
     color: rgb(185, 105, 105);
     margin-left: 9px;
 }
 .icon-container{
    box-sizing: border-box;
 }
 .zero{
    font-weight: bold;
 }

 .nav-cont{
    display: flex;
     
    justify-content: space-around;
 }
 .nav-main-cont{
    box-shadow: 0px 0px 2px;
    padding-top: 6px;
 }
 .good-head{
    font-size: 19px;
    font-family: roboto;
    font-weight: 600;
 }
 .good-head-p{
    font-size: 19px;
    font-family: roboto;
    font-weight: 600;
    color: white;
 }
 .great-para{
    font-size: 15px;
    font-family: robot;
    font-weight: 200;

 }
 .great-para1{
    font-size: 13px;
    color: rgb(126, 128, 127);
    font-family: robot;
    

 }
 .readingbook-cont{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
 }
 .btn-bt{
    font-size: 13px;
    font-weight: bold;
     
    color: white;
    background-color: rgb(6, 182, 218);
    width: 279px;
    height: 35px;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    border-radius: 30px;
     border-width: 0px;

 }
 .second-cont{
    display: flex;
     
    
    
 }

 .car{
    border: 1px solid;
    height: 40px;

 }

 body {
    margin: 0;
    
    overflow-x: hidden;
  }

  .gallery-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    
  }

  .photo {
    display: inline-block;
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
  }

  .img1{
    width: 100%;
    height: auto;
  }