* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}

.bodystyle{
  margin: 0;
  background-color: rgb(250, 251, 251);
  overflow-x: hidden;
   
}


@media screen and (min-width: 770px){
  .icon-container {
    display: none;
  }
    
   
}
  @media screen and (max-width: 770px){
   .modalcont{
    display: none;
   }
 
    


}

    

.cont-logo {
  box-shadow: 0px 0px 3px;
  
}


 
 
#promodal {
  background-color: rgba(236, 234, 233, 0.831);
  border-radius: 29px;
  border: none;
  color: black;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;

  padding-right: 1px;
}
.profile-img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-img2{
  
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.name-head{
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
   
}

.number{
  font-size: 15px;
  color: rgb(125, 126, 127);
  font-weight: 500;
}

.subscriptions{
  font-size: 16px;
   margin-bottom: 10px;
   font-weight: 500;
   margin-top: 10px;
    
}

.noticon{
  cursor: pointer;
  margin-right: 10px;
    padding-top: 10px;
}

 .subscriptions:hover{
   /* background-color: rgb(86, 62, 243); */
   /* padding: 1px; */
   color: rgb(47, 151, 207);
   cursor: pointer;
   /* text-decoration: underline; */
   
 }

.sub-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 30px;
}
.head-cont {
  font-size: 13px;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 4px;
}
.fire-icon {
  height: 24px;
  width: 24px;
  color: red;
  margin-right: 0px;
}

 

.wall-icon {
  height: 20px;
  margin-top: 5px;
  color: rgb(185, 105, 105);
  margin-left: 9px;
}
.icon-container {
  box-sizing: border-box;
}
.zero {
  font-weight: bold;
}

.sidenav{
  padding-top: 8px;
  
  justify-content: space-around;
  display: flex;
   flex-direction: row;
  background-color:white;
  /* padding-top: 15px; */
  margin-left: 0px;
  box-shadow: 01px 0px 4px rgb(176, 171, 171);
   /* margin-top: 3px; */
}

.sidehead{
  font-size: 15px;
}

 

.sections:hover{
  color: rgb(6, 182, 218);
  cursor: pointer;

}














 .nav-cont {  
  display: flex;

  justify-content: space-around;
}
.nav-main-cont {
  box-shadow: 0px 0px 2px;
  padding-top: 6px;
}
.good-head {
  font-size: 19px;
  font-family: roboto;
  font-weight: 600;
}
.good-head-p {
  font-size: 19px;
  font-family: roboto;
  font-weight: 600;
  color: white;
}
.great-para {
  font-size: 15px;
  font-family: robot;
  font-weight: 200;
}
.great-para1 {
  font-size: 13px;
  color: rgb(126, 128, 127);
  font-family: robot;
}
.readingbook-cont {
 
  height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-bt {
  font-size: 13px;
  font-weight: bold;

  color: white;
  background-color: rgb(6, 182, 218);
  width: 279px;
  height: 35px;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  border-radius: 30px;
  border-width: 0px;
}
.second-cont {
  display: flex;
}

.car {
  border: 1px solid;
  height: 40px;
}

 
.gallery-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.photo {
  display: inline-block;
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
}

.img1 {
  width: 100%;
  height: auto;
}
