* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;

}

.bodystyle{
  margin: 0;
  background-color: rgb(250, 251, 251);
  overflow-x: hidden;
   
}


@media screen and (min-width: 770px){
  .icon-container {
    display: none;
  }
    
    
  
   





   
}
  @media screen and (max-width: 770px){
   .modalcont{
    display: none;
   }
 
   
  
   


}

    

.cont-logo {
  box-shadow: 0px 0px 3px;
  
}


 
 
#promodal {
  background-color: rgba(236, 234, 233, 0.831);
  border-radius: 29px;
  border: none;
  color: black;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  text-align: center;
  margin-right: 5px;

  padding-right: 1px;
}
.profile-img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-img2{
  
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.name-head{
  font-size: 20px;
  margin-left: 10px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
   
}

.number{
  font-size: 15px;
  color: rgb(125, 126, 127);
  font-weight: 500;
}

.subscriptions{
  font-size: 16px;
   margin-bottom: 10px;
   font-weight: 500;
   margin-top: 10px;
    
}

.noticon{
  cursor: pointer;
  margin-right: 10px;
    padding-top: 10px;
}

 .subscriptions:hover{
   /* background-color: rgb(86, 62, 243); */
   /* padding: 1px; */
   color: rgb(47, 151, 207);
   cursor: pointer;
   /* text-decoration: underline; */
   
 }

.sub-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 30px;
}
.head-cont {
  font-size: 13px;
  font-weight: bold;
  margin-top: 7px;
  margin-left: 4px;
}
.fire-icon {
  height: 24px;
  width: 24px;
  color: red;
  margin-right: 0px;
}

 

.wall-icon {
  height: 20px;
  margin-top: 5px;
  color: rgb(185, 105, 105);
  margin-left: 9px;
}
.icon-container {
  box-sizing: border-box;
}
.zero {
  font-weight: bold;
}

.sidenav{
  padding-top: 8px;
   background-color:white;
  /* padding-top: 15px; */
  margin-left: 0px;
  box-shadow: 01px 0px 4px rgb(176, 171, 171);
   
  justify-content: space-around;
  display: flex;
   flex-direction: row;
  background-color:white;
  /* padding-top: 15px; */
  margin-left: 0px;
  box-shadow: 01px 0px 4px rgb(176, 171, 171);
   /* margin-top: 3px; */
}

.sidehead{
  font-size: 15px;
}

 

.sections:hover{
  color: rgba(10, 184, 219, 0.904);
  cursor: pointer;

}



.sections {
  
  color: #a59d9d;
}


 .nav-cont {  
  display: flex;

  justify-content: space-around;
}
.nav-main-cont {
  box-shadow: 0px 0px 2px;
  padding-top: 6px;
}
.good-head {
  font-size: 19px;
  /* font-family: roboto; */
  font-weight: 600;
}
.good-head-p {
  font-size: 19px;
  font-family: roboto;
  font-weight: 600;
  color: white;
  
}
.great-para {
  font-size: 15px;
  font-family: robot;
  font-weight: 200;
}
.great-para1 {
  font-size: 13px;
  color: rgb(126, 128, 127);
  font-family: robot;
}
.readingbook-cont {
 
  height: 150%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#btn-bt {
  font-size: 13px;
  font-weight: bold;

  color: white;
  background-color: rgb(6, 182, 218);
  width: 279px;
  height: 35px;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  border-radius: 30px;
  border-width: 0px;
}

#searchstyle{
  width: 330px;
  height: 40px;
  border-radius: 29px;
  border: 1px solid rgb(172, 168, 168);
  /* margin-left: 10px; */
}

.courses-card{
  display: flex;
  flex-direction:;
  justify-content: space-around;
  margin-top: 20px;
  cursor: pointer;
  
}

.bank-card{
  background-color: #ece9e9b5;
  padding: 10px;
  border-radius: 10px;
   width: 150;
   height: 150px;
  
}

.iconser{
  position: relative;
  left:295px;
  bottom: 30px;

  
  cursor: pointer;
  
}

.bank-icon{
  width: 70px;
}
.bank-head{
  line-height: 0.7;
}
.bank-para{
  font-size: 13px;
   
}
 

 

.car {
  border: 1px solid;
  height: 40px;
}

 
.gallery-container {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.photo {
  display: inline-block;
  width: 300px;
  margin: 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
}

.img1 {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.heartsymb{
color: red;
font-size: 40px;
position: relative;
top: 7px;

}
.skills-cont{
  height: 110%;
}

.skills-cont-last{
  height: 150%;
  margin-bottom:70px ;

}

.card:hover{
  transition:padding margin 0.5s linear ;
  padding: 2px;
  cursor: pointer;
  border-radius: 15px;
}

.photo:hover{
  transition:padding margin 0.5s linear ;
  padding: 1px;
  cursor: pointer;
}


.topslide-card{
  border-radius: 15px;
}

.card-title{
  padding-top: 10px;
  padding-left: 10px;
}


.card-text{
  padding-bottom: 10px;
  padding-left: 10px;
}

.webcard{
  margin-right: 70px;
}

#skillspageid{
   display: none;
}


.contact-cont:hover{
  box-shadow: 0px 3px 6px 4px rgb(245, 115, 211);
   margin: 10px;
}
.contact-cont{
    position: fixed;
    right: 20px;
    bottom: 76px;
    height: 450px; 
    background-color:white;
     box-shadow: 0px 0px 3px rgb(107, 105, 105);
     width: 350px;
     border-radius: 10px;
     transition: margin 0.5s linear ;
     
}

.contact-card1{
 
  display:flex;
  justify-content: space-between;
  align-items: center;
   /* background-color: red; */
  padding: 10px;
  
  
}

 .conty-pop{
  
  /* height: 80vh; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-end; */
  /* align-items: center; */
  /* padding-bottom: 150px; */
 }


 #contpop{
  display: none;
 }

 #close-bt-pop:hover{
  background-color: #eeeaea;
  cursor: pointer;
   border-radius: 100%;
   
 }

 .contact-us{
  box-shadow: 0px 0px 3px rgb(223, 218, 218);
   margin: 9px;
   padding: 5px;
   cursor: pointer;
 }

 .head-chat{
  font-size: 15px;
  padding: 5px;
  margin-top: 2px;
  padding-bottom: 0px;
  cursor: pointer;
  
 }

 .head-para{
  font-size: 13px;
  padding: 5px;
  padding-bottom: 0px;
  padding-top: 0px;
  cursor: pointer;
 }

.head-para:hover{
  background-color: #f5f1f1;
  
}

/* premium section styling starts here  */

.preheight{
  

  
}


#preskillpageid{
  display: none;
}


#premiumid{
  display: none;
}

 .gold-nav-card{
   background-color: white;
   box-shadow: 6px 0px 5px rgb(222, 220, 220);
   height: min-content;
     

 }

.exam-gold-head{
  padding-top: 5px;
   font-size: 20px;

}


.border-cont:hover{
  border-bottom: solid 3px rgb(42, 192, 234);
 cursor: pointer;
 /* background-color:rgb(203, 202, 202) ; */
}


.list-gold-head{
  /* font-size: 15px; */
  color: white;
}

li{
 color: gold; 
}
.gold-card{
  border-radius: 20px;
  height: 150px;
  padding: 10px;
  border: solid 5px gold;
  display: flex;
  justify-content:center;
  align-items: center;
  
}

.view-bt{
  background-color: gold;
  font-size: 2vh;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  border-width: 0px;
  margin-top: 5px;
  width: 190px;
}

.view-bt:hover{
  border: solid 1px white;

}

.psc-img{
  width: 40px;
  height: 40px;
}

.psc-main-card{
  height: 180%;
  margin-bottom: 20px;
}
.psc-sub-card1{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 0px 8px rgb(222, 218, 218);
  /* margin-right: 50px; */
  /* margin-right: 15px; */
  margin-bottom:30px;
  
  
}

.psc-sub-card1:hover{
  
  cursor: pointer;
   
  box-shadow: 1px 0px 8px rgb(227, 57, 190);
}

.psc-sub-card2{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 0px 8px rgb(222, 218, 218);
  /* margin-right: 15px; */
  /* margin-right: 50px; */
  margin-bottom:30px;
}

.psc-sub-card2:hover{
  /* box-shadow: 1px 3px 5px; */
  cursor: pointer;
  box-shadow: 1px 0px 8px rgb(227, 57, 190);
}

.psc-sub-card3{
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 0px 8px rgb(222, 218, 218);
  /* margin-right: 15px; */
  /* margin: px; */
  margin-bottom:30px;
  
}

.psc-sub-card3:hover{
  /* box-shadow: 1px 3px 5px; */
  cursor: pointer;
  box-shadow: 1px 0px 8px rgb(227, 57, 190);
}





.psc-cont{
  display: flex;
   justify-content:space-between;
   
    
}


.psc-heading{
  font-size: 17px;
  font-weight: bold;
  margin-top: 12px;

}
.para-psc{
   font-weight: 500;
  color: rgb(53, 196, 222);
  font-size: 13px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.currency-icon{
height: 13px;

}

.currency-rupee2{
  height: 22px;
  margin-bottom: 2px;
  

}
.under-line-style{
  color: rgb(158, 160, 160);
  text-decoration: line-through solid 1px;
  margin-left: 3px;
  margin-right: 3px;
}

.cur-ru2{
  font-size: 17px;
   font-weight: bold;
  
}

.viewdetail-bt{
  font-size: 15px;
  background-color:rgb(53, 196, 222);
  border-width: 0;
  padding: 5px;
  border-radius: 20px;
  width: 110px;
  font-weight: bold;
  color: white;
  margin-left: 15px;

}

.viewdetail-bt1{
  font-size: 15px;
  background-color:rgb(238, 241, 241);
  border-width: 0;
  padding: 5px; 
  border-radius: 20px;
  width: 150px;
  font-weight: bold;
  color:rgb(53, 196, 222);

}


.psc-cont3{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.viewdetail-bt:hover{
  background-color:rgb(12, 141, 215) ;
   
}

.viewdetail-bt1:hover{
  background-color:rgb(236, 71, 212) ;
   color: white;
}

.modal-cont{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border:solid 2px rgba(188, 190, 190, 0.858);
  align-items: center;
  padding: 10px;
  height: 70px;
}

.modal-cont1:hover{
  border:solid 2px rgba(49, 202, 202, 0.858);
  background-color: rgb(217, 233, 233);

}
.modal-cont:hover{
  border:solid 2px rgba(49, 202, 202, 0.858);
  background-color: rgb(217, 233, 233);
}

.modal-cont1{
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border:solid 2px blue;
  align-items: center;
  padding: 10px;
  height: 55px;
  border:solid 2px rgba(188, 190, 190, 0.858);
  cursor: text;
  
}


.modal-year{
  font-size: 15px;
  
  
}

.coupon-head{
  font-size: 15px;
  font-weight: bold;
  color:orange ;

}

.bt-coupon{
  background-color:rgba(152, 155, 155, 0.543) ;
  padding: 5px;
  font-size: 12px;
  color:black;
  border-radius: 20px;
  width: 75px;
  font-weight: bold;
  border-width: 0px;
}


.bt-coupon:hover{
    background-color: rgb(223, 67, 199);
    border: solid 1px  rgb(223, 67, 199) ;
    color: white;
    
}

.modal-cont2{
  display: flex;
  justify-content: center;
  /* border-radius: 10px; */
   
  align-items: center;
background-color: rgb(77, 168, 224);
  height: 55px;
  
  
  
}

.bt-coupon1{
 font-weight: bold;
 font-size: 18px;
  color: white;
  border: none;
  background-color: transparent;
}


.modal-cont2:hover{
  background-color: rgb(216, 51, 197);
}
 

.skill-premium-card{
  height: 100%;
  margin-bottom: 10px;
  
  
}

.top-seller-card{
  background-color: white;
  padding: 13px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 1px 0px 8px rgb(223, 217, 221);
  width: 355px;
  height: 375px;
  padding-bottom:;
}

.top-img{
  border-radius: 20px;
  /* height: 170px; */
  /* width: 270px; */
}

.top-seller-card:hover{

  box-shadow: 1px 0px 8px rgb(218, 36, 170);
}

/* groups styling starts here  */

.group-main-card{
height: 100vh;
width: 100vw;

}


.group-img{
  width: 100px;
  height: 100px;

}
.group-img1{
  width: 50px;
  height: 50px;
  

}


#groupspageid{
 display: none
}

.group-sub-card{
  display: ;
}

.entrigroup{
  border-radius: 20px;
  background-color:white;
  width: 350px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  box-shadow: 1px 2px 9px rgb(193, 190, 190) ;
}

.sideghead{
  font-size: 16px;
  margin-left: 9px;
  padding-top: 1px;
}

.entrigroup:hover{
  box-shadow: 1px 2px 9px rgb(24, 136, 228) ;
  cursor: pointer;
}

.more-ver-icon{
  position: relative;
  left:143px;
  top: 18px;
  
  

}

.forimg{
  margin-right: 15px;
}

.small-group-card:hover{
  box-shadow: 1px 2px 9px rgb(24, 136, 228) ;
}


.small-group-card{
  padding-left: 5px;
  padding-bottom: 5px;
  
  border-radius: 20px;
}


 #backbtid{
  display: none;
    background-color:  rgb(24, 136, 228);
    color: white;
    border-radius: 20px;
    height: 35px;
    margin-top: 4px;
    padding-bottom: 0px;
    margin-bottom: 4px;
 }